html {
  font-family: "Open Sans", sans-serif;
}

.skip-links {
  position: absolute;
  top: -3em;
}

.banner-home {
  background-size: cover;
  background-position: center bottom;
  position: relative;
  overflow: hidden;
  max-height: 24em;
}

.banner-content {
  position: absolute;
  width: 80%;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%);
  color: white;
}

nav {
  position: absolute;
  width: 600px;
  height: 40px;
  top: 47px;
  right: -140px;
}

nav ul li {
  float: left;
}

nav ul li a {
  text-decoration: none;
  border-bottom: 3px solid;
  color: black;
}

nav ul li a:hover {
  border-bottom: 3px solid white;
  background-color: #e1533c;
}

.skip-links a:focus {
  top: 0;
}

.banner {
  background: no-repeat center center;
  background-size: 100%;
  max-width: 100%;
  height: auto;
}

.banner .txt-banner {
  text-align: center;
  vertical-align: middle;
}

footer {
  background-color: #e1533c;
  color: black;
  margin: 0;
}

.centered {
  max-width: 1200px;
  margin: 0;
  display: flex;
}

.footer-logo {
  width: 20%;
}

img.logo {
  max-width: 100%;
}

.footer-contact {
  width: 20%;
}

.footer-navigation {
  width: 60%;
}

@media only screen and (min-width: 38em) {

  header {
    overflow: hidden;
  }

  nav ul {
    text-align: right;
    width: 80%;
    float: right;
  }

  .logo {
    width: 18%;
    display: inline-block;
    float: left;
  }

  nav ul li {
    display: inline-block;
    width: 18%;
  }

  .banner-content {
    width: 75%;
    max-width: 30em;
  }

  .banner-content h1,
  .banner-content p {
    width: 90%;
    margin: 0;
  }

}
