html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.skip-links {
  display: none;
}

.banner-home {
  background-size: cover;
  background-position: center bottom;
  position: relative;
  overflow: hidden;
  max-height: 24em;
}

.banner-content {
  position: absolute;
  width: 80%;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  background-color: grey;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav {
	position:absolute;
	width:600px;
	height:40px;
	top:47px;
	right:-140px;
}

nav ul li {
	float: left;
	line-height:normal;
	margin-left:15px;
}

nav ul li a {
  text-decoration: none;
  margin-top: 3px;
  padding: 5px;
  border-bottom: 3px solid;
}

nav ul li a:hover{
}

.banner{
      background: url no-repeat center center;
      background-size: 100%;
      max-width: 100%;
      height: auto;
  }
  .banner .txt-banner {
      text-align: center;
      vertical-align: middle;
  }

footer {
  background:#D3D3D3
  color:#fff;
  margin:0;
}
  .centered {
    max-width:1200px;
    margin:0 auto;
    display:flex;
}
    .footer-logo {
      width:20%;
}
      img.logo {
        padding:10px 10px 10px 20px;
        max-width:100%;
      }


    .footer-contact {
      width:20%;
    }

    .footer-navigation {
      width:60%;
    }
}

  @media only screen and (min-width: 38em) {

    header {
      overflow: hidden;
    }

    nav ul {
      text-align: right;
      width: 80%;
      float: right;
    }

    .logo {
      width: 18%;
      display: inline-block;
      float: left;
    }

    nav ul li {
      display: inline-block;
      width: 18%;
    }

    .banner-content {
      width: 75%;
      max-width: 30em;
    }

    .banner-content h1,
    .banner-content p {
      width: 90%;
      margin: 0 auto;
    }

  }
  @media only screen and (min-width: 60em) {

    nav ul {
      width: 85%;
    }

  }
